.heading{
    font-size: 50px;
    width: 100%;
    margin: 0px;
    box-shadow: 9px 9px 9px rgb(247, 102, 6);
}
.note{
    font-size: 25px;
    color: rgb(17, 236, 28);
}
.copy_right_footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(14, 30, 243);
    line-height: 3;
    text-align: center;
    color: red;
}
canvas{
    border: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
}